/*============================INDEX============================*/
/*=============================================================*/
/*=============================================================*/
@import url('https://fonts.googleapis.com/css?family=Merriweather|Playfair+Display|Great+Vibes&display=swap');


:root {
  --background-color: #2E2E2E; 
  --text-color: #F5F5DC; 
  --header-background: #1C1C1C; 
  --link-color: #800000; 
  --link-hover-color: #DAA520;
  --border-color: #4B3F2F; 
}

body, h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
canvas {
  display: block;
}
body {
  font-family: 'Georgia', serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
}

h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 3em;
  padding: 60px 0 20px 0;
  text-align: center;
 

}

h3 {

  font-size: 1.7em;
  padding: 10px 0;
  text-align: center;
}


/*============================NAVBAR============================*/
/*=============================================================*/
/*=============================================================*/


.navbar {
  background-color: var(--header-background);
  color: var(--text-color);
  left: 0;
    right: 0;
    top: 0;
    justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: left;
  padding: 0 20px;
  margin: 0 auto;
}

.logo {
  font-size: 1.9em;
  font-family: 'Great Vibes', cursive;
  color: var(--text-color);
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.nav-links {
  display: flex;
  padding-left: 50px;
  gap: 50px;
  font-size: 1.1em;
}

.nav-links a {
  color: var(--text-color);
  text-decoration: none;
  padding: 15px 0;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: var(--link-hover-color);
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  background-color: var(--text-color);
  width: 25px;
  height: 3px;
  border-radius: 5px;
  margin-bottom: 5px;
  transition: all ease-in-out 200ms;
}


@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0;
  }

  .nav-links.active {
    left: 0; /* Adjust this to make sure nav-links appear on screen */
  }

 
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-links {
    position: fixed;
    z-index: 12;
    flex-direction: column;
    width: 100%;
    top: 50px;
    left: -100%;
    text-align: center;
    transition: all ease-in-out 200ms;
  }
  .nav-links {
    margin: 15px 0;
  }
  .nav-links.active {
    left: 0;
    background-color: var(--header-background);
    z-index: 12;
  }
  .navbar.active{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    justify-content: space-between;
    display: flex;
    
    z-index: 12;
 
  }
}

/*============================INTRO============================*/
/*=============================================================*/
/*=============================================================*/
.intro {
  display: flex;
 
}

.intro-item{
  margin: 0 auto;
  padding: 20px;
 display: flex;
  justify-content: center;
  align-items: flex-start;
  
}

/*text should start with the beginning of the image */
.intro-text p{
  font-family: 'Merriweather', serif;
  font-size: 1.1em;
  padding: 20px;
    
}

.intro-image{

  padding: 20px;
  border-radius: 50%;
}

.vintage-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 5px;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  color: var(--text-color);
  background-color: var(--link-color);
  border: 2px solid var(--border-color);
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  box-shadow: inset 0 0 0 1px var(--text-color);
  
}

.vintage-button:hover {
  background-color: var(--link-hover-color);
  color: var(--background-color);
}

.link-buttons {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  

}
@media screen and (max-width: 798px) {
  .intro-item {
    flex-direction: column;
    align-items: center;
  }
  .intro-image {
    max-width: 100%;
    padding: 10px;
  }
  .intro-text {
    max-width: 100%;
    padding: 10px;
  }
  .link-buttons {
    justify-content: center;
  }
}
/*============================QUOTES============================*/
/*=============================================================*/
/*=============================================================*/


#quotes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.quote-card {
  background-color: var(--header-background);
  border: 2px solid var(--border-color);
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  width: 45%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.quote-card:hover {
  transform: scale(1.05);
}
.quote-tooltip {
  visibility: hidden;
  background-color: var(--text-color);
  color: var(--background-color);
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 110%; 
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}


.quote-card p {
  margin: 0;
  line-height: 1.5;
}

.quote {
  font-size: 1.2em;
  font-style: italic;
  margin-bottom: 10px;
}

.character,
.book {
  text-align: right;
  font-size: 0.9em;
  color: var(--link-hover-color);
}

.book {
  margin-top: 5px;
}

@media (max-width: 768px) {
  .quote-card {
      width: 90%;
  }
}


/*============================TIMELINE============================*/
/*=============================================================*/
/*=============================================================*/



.timeline-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.timeline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  height: 100px;
  position: relative;
}

.timeline::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--border-color);
  transform: translateY(-50%);
}

.circle {
  position: relative;
  width: 20px;
  height: 20px;
  background-color: var(--circle-color);
  border: 2px solid var(--border-color);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.circle:hover {
  background-color: var(--link-hover-color);
}

.circle.selected {
  background-color: var(--link-color);
}

.tooltip {
  visibility: hidden;
  background-color: var(--background-color);
  color: var(--text-color);
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.circle:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.info-container {
  margin-top: 20px;
  width: 80%;
  padding: 20px;
  background-color: var(--header-background);
  border: 2px solid var(--border-color);
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#info {
  margin: 0;
  font-size: 1.2em;
  line-height: 1.5em;
}

/*============================CHARACTERS============================*/
/*=============================================================*/
/*=============================================================*/
.characters-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;

}

.card-container {  margin: 20px;
  perspective: 1000px;
}

.card {
  width: 400px;
  height: 450px;
  margin: 20px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  flex-direction: column;
  border: 2px solid var(--border-color);
}
.card-front p,
.card-back p {
  font-size: 1.15em;
  padding: 20px;
  text-align: center;
}

.card-front {
  background-color: var(--header-background);
}

.card-back {
  background-color: var(--background-color);
  transform: rotateY(180deg);
}
h4{
  font-size: 1.2em;
  padding: 5px;
  text-align: center;
}

/*============================CREDITS============================*/
/*=============================================================*/
/*=============================================================*/

.credits-container {
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

.credits-container section {
  background: var(--header-background);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.credits-container h2 {
  border-bottom: 2px solid var(--border-color);
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.credits-container p, .credits-container ul {
  margin: 0 0 15px;
}

.credits-container ul {
  list-style-type: disc;
  padding-left: 20px;
}


.credits-container a {
  color: var(--text-color);
  text-decoration: none;

}

.Btn {
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: .4s;
  cursor: pointer;
  background-color: rgb(31, 31, 31);
  overflow: hidden;
  margin-top: 10px;
}

.svgIcon {
  transition-duration: .3s;
}

.svgIcon path {
  fill: white;
}

.text {
  position: absolute;
  color: rgb(255, 255, 255);
  width: 120px;

  opacity: 0;
  transition-duration: .4s;
}

.Btn:hover {
  width: 110px;
  transition-duration: .4s;
  border-radius: 30px;
}

.Btn:hover .text {
  opacity: 1;
  transition-duration: .4s;
}

.Btn:hover .svgIcon {
  opacity: 0;
  transition-duration: .3s;
}


/*============================Flip Book============================*/
/*=============================================================*/
/*=============================================================*/

.flipbook-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.flipBook {
  position: relative;
  width: 350px;
  height: 500px;
  transition: transform 0.5s;
}

.paper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  perspective: 1500px;
}

.front,
.back {
  background-color: var(--header-background);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform-origin: left;
  transition: transform 0.5s;
}

.front {
  z-index: 1;
  backface-visibility: hidden;
  border: var(--border-color) solid 2px;
  border-left: 3px solid var(--link-color);

}

.back {
  z-index: 0;
  border: var(--border-color) solid 2px;
  border-left: var(--link-color) solid 3px;
}

.front-content,
.back-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.back-content {
  transform: rotateY(180deg);
}

.flipped .front,
.flipped .back {
  transform: rotateY(-180deg);
}

/* Flipbook buttons */
.flipbook-btn {
  border: none;
  cursor: pointer;
  margin: 10px;
  background-color: var(--header-background);

  border-radius: 50%;


  transition: transform 0.5s;
}
.svg-icon {
  width: 30px;
  height: 30px;

  fill: none;
  stroke: var(--link-hover-color); /* Adjust color as needed */
}

.flipbook-btn:focus {
  outline: none;
}

.flipbook-btn:hover i {
  color: var(--link-hover-color);
}

.flipbook-btn i {
  font-size: 50px;
  color: gray;
}

.front p,
.back p , .front ul , .back ul{
  font-size: 1.25em;
  padding: 20px;
  text-align: center;
}

#desc{
  font-size: 1.1em
}
.front h2 , .back h2{
  font-size: 1.8em;
  padding: 20px;
  text-align: center;
}

#p1 {
  z-index: 3;
}

#p2 {
  z-index: 2;
}

#p3 {
  z-index: 1;
}

#container3D{
  padding: 0;
}

/*============================LOADING SCREEN============================*/
/*=============================================================*/
/*=============================================================*/
#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999; 
  background-color: var(--background-color);
}
.hourglassBackground {
  position: relative;
  background-color: rgb(71, 60, 60);
  height: 130px;
  width: 130px;
  border-radius: 50%;
  margin:  auto;
  margin-top: 250px;
}

.hourglassContainer {
  position: absolute;
  top: 30px;
  left: 40px;
  width: 50px;
  height: 70px;
  -webkit-animation: hourglassRotate 2s ease-in 0s infinite;
  animation: hourglassRotate 2s ease-in 0s infinite;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.hourglassContainer div,
.hourglassContainer div:before,
.hourglassContainer div:after {
  transform-style: preserve-3d;
}

@-webkit-keyframes hourglassRotate {
  0% {
    transform: rotateX(0deg);
  }

  50% {
    transform: rotateX(180deg);
  }

  100% {
    transform: rotateX(180deg);
  }
}

@keyframes hourglassRotate {
  0% {
    transform: rotateX(0deg);
  }

  50% {
    transform: rotateX(180deg);
  }

  100% {
    transform: rotateX(180deg);
  }
}

.hourglassCapTop {
  top: 0;
}

.hourglassCapTop:before {
  top: -25px;
}

.hourglassCapTop:after {
  top: -20px;
}

.hourglassCapBottom {
  bottom: 0;
}

.hourglassCapBottom:before {
  bottom: -25px;
}

.hourglassCapBottom:after {
  bottom: -20px;
}

.hourglassGlassTop {
  transform: rotateX(90deg);
  position: absolute;
  top: -16px;
  left: 3px;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: #999999;
}

.hourglassGlass {
  perspective: 100px;
  position: absolute;
  top: 32px;
  left: 20px;
  width: 10px;
  height: 6px;
  background-color: #999999;
  opacity: 0.5;
}

.hourglassGlass:before,
.hourglassGlass:after {
  content: '';
  display: block;
  position: absolute;
  background-color: #999999;
  left: -17px;
  width: 44px;
  height: 28px;
}

.hourglassGlass:before {
  top: -27px;
  border-radius: 0 0 25px 25px;
}

.hourglassGlass:after {
  bottom: -27px;
  border-radius: 25px 25px 0 0;
}

.hourglassCurves:before,
.hourglassCurves:after {
  content: '';
  display: block;
  position: absolute;
  top: 32px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #333;
  animation: hideCurves 2s ease-in 0s infinite;
}

.hourglassCurves:before {
  left: 15px;
}

.hourglassCurves:after {
  left: 29px;
}

@-webkit-keyframes hideCurves {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes hideCurves {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.hourglassSandStream:before {
  content: '';
  display: block;
  position: absolute;
  left: 24px;
  width: 3px;
  background-color: white;
  -webkit-animation: sandStream1 2s ease-in 0s infinite;
  animation: sandStream1 2s ease-in 0s infinite;
}

.hourglassSandStream:after {
  content: '';
  display: block;
  position: absolute;
  top: 36px;
  left: 19px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  animation: sandStream2 2s ease-in 0s infinite;
}

@-webkit-keyframes sandStream1 {
  0% {
    height: 0;
    top: 35px;
  }

  50% {
    height: 0;
    top: 45px;
  }

  60% {
    height: 35px;
    top: 8px;
  }

  85% {
    height: 35px;
    top: 8px;
  }

  100% {
    height: 0;
    top: 8px;
  }
}

@keyframes sandStream1 {
  0% {
    height: 0;
    top: 35px;
  }

  50% {
    height: 0;
    top: 45px;
  }

  60% {
    height: 35px;
    top: 8px;
  }

  85% {
    height: 35px;
    top: 8px;
  }

  100% {
    height: 0;
    top: 8px;
  }
}

@-webkit-keyframes sandStream2 {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  51% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  91% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes sandStream2 {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  51% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  91% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.hourglassSand:before,
.hourglassSand:after {
  content: '';
  display: block;
  position: absolute;
  left: 6px;
  background-color: white;
  perspective: 500px;
}

.hourglassSand:before {
  top: 8px;
  width: 39px;
  border-radius: 3px 3px 30px 30px;
  animation: sandFillup 2s ease-in 0s infinite;
}

.hourglassSand:after {
  border-radius: 30px 30px 3px 3px;
  animation: sandDeplete 2s ease-in 0s infinite;
}

@-webkit-keyframes sandFillup {
  0% {
    opacity: 0;
    height: 0;
  }

  60% {
    opacity: 1;
    height: 0;
  }

  100% {
    opacity: 1;
    height: 17px;
  }
}

@keyframes sandFillup {
  0% {
    opacity: 0;
    height: 0;
  }

  60% {
    opacity: 1;
    height: 0;
  }

  100% {
    opacity: 1;
    height: 17px;
  }
}

@-webkit-keyframes sandDeplete {
  0% {
    opacity: 0;
    top: 45px;
    height: 17px;
    width: 38px;
    left: 6px;
  }

  1% {
    opacity: 1;
    top: 45px;
    height: 17px;
    width: 38px;
    left: 6px;
  }

  24% {
    opacity: 1;
    top: 45px;
    height: 17px;
    width: 38px;
    left: 6px;
  }

  25% {
    opacity: 1;
    top: 41px;
    height: 17px;
    width: 38px;
    left: 6px;
  }

  50% {
    opacity: 1;
    top: 41px;
    height: 17px;
    width: 38px;
    left: 6px;
  }

  90% {
    opacity: 1;
    top: 41px;
    height: 0;
    width: 10px;
    left: 20px;
  }
}

@keyframes sandDeplete {
  0% {
    opacity: 0;
    top: 45px;
    height: 17px;
    width: 38px;
    left: 6px;
  }

  1% {
    opacity: 1;
    top: 45px;
    height: 17px;
    width: 38px;
    left: 6px;
  }

  24% {
    opacity: 1;
    top: 45px;
    height: 17px;
    width: 38px;
    left: 6px;
  }

  25% {
    opacity: 1;
    top: 41px;
    height: 17px;
    width: 38px;
    left: 6px;
  }

  50% {
    opacity: 1;
    top: 41px;
    height: 17px;
    width: 38px;
    left: 6px;
  }

  90% {
    opacity: 1;
    top: 41px;
    height: 0;
    width: 10px;
    left: 20px;
  }
}
